.footer_IOUP{
    display: flex;
    border-top: solid 1px #000;
    justify-content: center;
    background-color: #0F3684;
    // height: 5rem;
    // text-align: center;
width: 100%;
color: #FFF;
font-family: 'Filson Pro';
padding: 48px 0;
}